
.jumbotron{
	padding-top: 6rem;
	background-color: #FFF5EE;
}

#education{
	background-color: #FFF5EE;
}

#skills{
	background-color: #FFFFFF;
}

#activities{
	background-color: #FFF5EE;
}

#Contact{
	background-color: #FFFFFF;
}

section{
	padding-top: 5rem;
}